*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.about-section {
  position: fixed;
  top:6rem;
  right: 0;
  width: 30%; /* Adjust as needed */
  height: 100vh;
  overflow-y: auto;
  padding-bottom: 15rem;
  background-color: #fff; /* Optional: Add background color if needed */
}

.flex-grow-1 {
  width: 70%; /* Adjust as needed */
  margin-right: 30%;
  overflow-y: auto;
  height: 100vh;
}

/* LandingPage.css */
.landing-page {
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
  background-image: url('https://cdn.pixabay.com/photo/2015/11/19/21/10/glasses-1052010_1280.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-container {
  position: absolute;

  text-align: center;
  color: white; /* Change this if your image has light background */
  background: rgba(0, 0, 0, 0.4); /* Slightly dark background for better readability */
  padding: 20%; 
  width: 100%;
  border-radius: 10px;
}

.quote {
  font-size: 2.5rem; /* Adjust size as needed */
  font-weight: bold;
  margin: 0;
}




@media (min-width: 992px) {
  .about-section {
    position: fixed;
    top: 6rem;
    right: 0;
    width: 30%; /* Adjust as needed */
    height: 100vh;
    overflow-y: auto;
    padding-bottom: 15rem;
    background-color: #fff; /* Optional: Add background color if needed */
  }

  .flex-grow-1 {
    width: 70%; /* Adjust as needed */
    margin-right: 30%;
    overflow-y: auto;
    height: 100vh;
  }
  .bookcardbody{
    padding-left: 16px;
  }

}

@media (max-width: 991px) {
  .about-section {
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
    padding-bottom: 2rem;
  }

  .flex-grow-1 {
    width: 100%;
    margin-right: 0;
    height: auto;
  }
  .imgquote{
    flex-wrap: wrap;
  }
  .bookcardbody{
    padding-left: 16px;
  }
}